* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}
textarea,
input {
  outline: none;
}
#id {
  width: 100%;
  display: flex;
  flex-direction: column;
}
